*{
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

body{
  margin: 0 auto;
}

/* REGOLE HEADER */
header .container {
  background-color: lightblue;
  border: 1px solid black;
}

/* REGOLE MAIN */
/* regole JT */

#jt .container{
  background-color: lightgray;
  margin-top: 54px;
  border: 1px solid black;
}

#jt .container .row [class*="col-"]{
  background-color: lightblue;
  height: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid black;
}

/* regole PORTFOLIO  */

#portfolio .container {
  background-color: lightblue;
  border: 1px solid black;
}

#portfolio .container .row:first-child [class*="col-"]{
  height: 80px;
  margin-top: 20px;
  background-color: gray;
  border: 1px solid black;
}

#portfolio .container .row:last-child [class*="col-"]{
  height: 130px;
  margin-bottom: 20px;
  background-color: gray;
  border: 1px solid black;
}

/* regole ABOUT */
#about .container {
  background-color: lightgray;
  border: 1px solid black;
}

#about .container .row [class*="col-"]{
  background-color: lightgreen;
  border: 1px solid black;
  height: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* regole CONTACT ME */
#contact .container {
  background-color: orange;
  border: 1px solid black;
}

#contact .container .row [class*="col-"]{
  background-color: blue;
  border: 1px solid black;
  height: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
}



/* REGOLE FOOTER */
footer .container .row:first-child{
  background-color: darkgreen;
  border: 1px solid black;
}

footer .container .row:last-child{
  background-color: lightgreen;
  border: 1px solid black;
  height: 60px;
}

footer .container .row:first-child [class*="col-"]{
  background-color: yellow;
  border: 1px solid black;
  height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}
